
{{#each cars as |car|}}

<!--we are using data id and not id -->
<ul id='tog' data-id="{{car.id}}">
  <li><small>carId:{{car.id}}</small></li>
  <li><small>Model:{{car.model}}</small></li>
  <li><small>Color-of-car:{{car.color}}</small></li>
  <li><small>licence-plate-no:{{car.lcp}}</small></li>
  <li><small>Repair-needed:{{car.repair}}</small></li>
  <li><button class="removebtn" >Remove Cars list!</button></li>
</ul>

{{/each}}
